<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale3JP2 CL2KN L, = H=0-9 HU=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Learning Nodejs</title>
</head>

<body>
    <H1> day la trang hoc NodeJS</H1>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
            <% for(let i=0; i < datausers.length ; i++) {%>

                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= datausers[i].FirstName %>
                    </td>
                    <td>
                        <%= datausers[i].LastName %>
                    </td>
                    <td>
                        <a href="users/detail/<%= i+1 %>" target="_blank">Detail</a>
                        <button type="edit"> Edit</button>
                        <button type="delete"> Delete</button>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
</body>

</html>